{% extends 'post-detail/post_detail.html' %}


{% block post_footer %}  
<div class="comment-display">
    {% block comment_click %}
    <a href="{% url 'post_detail' post.id %}" id="commentwidget" id="edbtn">Comment</a>
    {% endblock %}
</div>
<div class="edit-or-delete-post">
    <a href="{% url 'post_update' post.id %}" class="edbtn" id="editbtn">Edit</a>
    <a href="{% url 'post_delete' post.id %}" class="edbtn" id="deletebtn">Delete</a>
</div>
{% endblock %}

{% block comment_create %}

<form action="/posts/{{post.id}}/comment/create/" method="POST">
    {% csrf_token %}
    <input type="hidden" id="post" name="post" value="{{post.id}}">
    <textarea name="text" id="text"rows="5" placeholder="Comment your response here." textarea style="resize: none;"></textarea>
    <input type="submit" value="Submit!">
</form>
{% endblock %}
