{% extends 'base.html' %}
{% block content %}


<div class="post-section">
    <div class="post-container">
        <div class="post-text">
            {% block post_content %}
            <div class="post-header">
                <div class="post-title">
                    <h1 id="posttitleID"> {{ post.title }} </h1>
                </div>
                <div class="post-user">
                    <!-- <img src="{{ post.user.profile_pic }}" alt=""> -->
                    <p class="username">{{ post.user }}</p>
                </div>
            </div>

            <div class="post-body">

                <p> {{ post.text }}</p>

            </div>
            {% endblock %}
        </div>
        <div class="post-footer">
            {% block post_footer %}
            <div class="comment-display">
                {% block comment_click %}
                <a href="{% url 'comment' post.id %}" id="commentwidget" id="edbtn">Comment</a>
                {% endblock %}
            </div>
            <div class="edit-or-delete-post">
                <a href="{% url 'post_update' post.id %}" class="edbtn" id="editbtn">Edit</a>
                <a href="{% url 'post_delete' post.id %}" class="edbtn" id="deletebtn">Delete</a>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
<div class="comment-create-Section">
    <div class="comment-create-widget">
        {% block comment_create %}
        {% endblock %}
    </div>
</div>
<div class="comment-section">
    {% for comment in comments %}
    {% if comment.post.id == post.id %}
    <div class="comment">
        <div class="comment-header">
            {% block comment_header %}

            <h3 class="username">{{comment.user}}</h3>

            {% endblock %}
        </div>
        <div class="comment-body">
            {% if comment.id == selected_comment.id %}

            {% block comment_body_var %}

            {% endblock %}

            {% else %}

            {% block comment_body %}

            <p>{{comment.text}}</p>

            {% endblock %}

            {% endif %}
        </div>
        <div class="comment-options">

            {% if comment.id == selected_comment.id %}

            {% block comment_options_var %}

            {% endblock %}

            {% else %}

            {% block comment_options %}
            <a href="{% url 'comment_edit' post.id comment.id %}" class="edbtn" id="editbtn">Edit</a>
            <a href="{% url 'comment_delete' post.id comment.id %}" class="edbtn" id="deletebtn">Delete</a>
            {% endblock %}

            {% endif %}
            <div class="upvote">
                <form action="{% url 'upvote' post.id comment.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value='Upvote' name="upvotesubmit" class="edbtn" id="upvotesubmit">
                    <label for="upvotesubmit">{{comment.upvote_count}}</label>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}