{% extends 'base.html' %}
{% block content %}

<div class="post-section">
    <div class="post-text">
        <div class="post-header">
            <div class="post-user">

                <p> {{ post.user }}</p>

            </div>
            <div class="post-title">
                {% block post_title %}

                <h1> {{ post.title }} </h1>

                {% endblock %}
            </div>
        </div>
        <div class="post-body">
            {% block post_body %}

            <p> {{ post.text }}</p>

            {% endblock %}
        </div>
    </div>
    <div class="post-footer">
        {% block post_footer %}

        <div class="edit-or-delete-post">
            <a href="{% url 'post_delete' post.id %}">Delete</a>
            <a href="{% url 'post_update' post.id %}">Edit</a>
        </div>
        <div class="comment">
            <a href="{% url 'comment' post.id %}">Comment</a>
        </div>

        {% endblock %}
    </div>
</div>
<div class="comment-create-Section">
    {% block comment_create %}
    {% endblock %}
</div>
<div class="comment-section">
    <div class="comments">
        {% for comment in comments %}
            {% if comment.post.id == post.id  %}
                <div class="comment-header"></div>
                    {% block comment_header %}

                    <h3>{{comment.user}}</h3>

                    {% endblock %}
                <div class="comment-body">
                    {% block comment_body %}

                    <p>{{comment.text}}</p>

                    {% endblock %}
                </div>
                <div class="comment-options">
                    {% block comment_options %}

                    <a href="{% url 'comment_update' comment.id %}">Edit</a>
                    <a href="{% url 'comment_delete' comment.id %}">Delete</a>

                    {% endblock %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}