{% extends 'base.html' %}
{% block content %}


<div class="post-section">
    <div class="post-container">
        <div class="post-text">
            {% block post_content %}
            <div class="post-header">
                <div class="post-user">
                    
                    <p> {{ post.user }}</p>
                    
                </div>
                <div class="post-title">
                    
                    <h1> {{ post.title }} </h1>
                    
                </div>
            </div>
            <div class="post-body">
                
                <p> {{ post.text }}</p>
                
            </div>
            {% endblock %}
        </div>
        <div class="post-footer">
            {% block post_footer %}
            
            <div class="edit-or-delete-post">
                <a href="{% url 'post_delete' post.id %}">Delete</a>
                <a href="{% url 'post_update' post.id %}">Edit</a>
            </div>
            <div class="comment-display">
                <a href="{% url 'comment' post.id %}">Comment</a>
            </div>
            {% endblock %}
            
            <div class="likes">Upvotes: {{post.upvotes}}</div>
        </div>
    </div>
</div>
<div class="comment-create-Section">
    <div class="comment-create-widget">
        {% block comment_create %}
        {% endblock %}
    </div>
</div>
<div class="comment-section">
    {% for comment in comments %}
        <div class="comment">
            {% if comment.post.id == post.id  %}
                <div class="comment-header">
                    {% block comment_header %}

                    <h3>{{comment.user}}</h3>

                    {% endblock %}
                </div>
                <div class="comment-body">
                    {% if comment.id == selected_comment.id %}
                    
                    {%  block comment_body_var %}

                    {% endblock %}

                    {% else %}

                    {% block comment_body %}

                        <p>{{comment.text}}</p>

                    {% endblock %}

                    {% endif %}
                </div>
                <div class="comment-options">
 
                    {% if comment.id == selected_comment.id %}
                    
                    {%  block comment_options_var %}

                    {% endblock %}

                    {% else %}

                    {% block comment_options %}

                    <a href="{% url 'comment_edit' post.id comment.id %}">Edit</a>
                    <a href="{% url 'comment_delete' post.id comment.id %}">Delete</a>

                    {% endblock %}

                    {% endif %}

                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}