{% extends 'base.html' %}
{% block content %}
<div class="card-container">
    <div class="card">
        <h1 id="card-title">Login / *</h1>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="login-form">
                {{ form.as_p }}
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <div id="login-buttons">
                <button class="btn" type="submit">Log In</button>
                <a href="{% url 'register' %}"><button class="btn" type="button">Sign Up</button></a>
            </div>
        </form>
    </div>
</div>

{% endblock %}