{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slack OverFlow</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Yantramanav:wght@700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="navbar">
        <nav>
            <div class="navbar-container">
                <div class="nav-left">
                    <a href="/" id="brand-name-link">
                        <h1 id="brand-name">s l a c k / o v e r f l o w / <span id="brand-name-star">*</span></h1>
                    </a>
                </div>
                {% if user.is_authenticated %}
                <div class="nav-right">
                    <div class="nav-link-container">
                        <a href="/forum" class="navbar-links">/ Assemble Generally</a>
                    </div>
                    <div class="nav-link-container">
                        <a href="/class-forum" class="navbar-links">/ Classroom</a>
                    </div>
                    <div class="nav-link-container">
                        <a href="/boards" class="navbar-links">/ Boards</a>
                    </div>
                    <div class="nav-link-container">
                        <a href="{% url 'post_create' %}" class="navbar-links">/ New Post</a>
                    </div>
                    <div class="nav-link-container">
                        <a href="/accounts/logout" class="navbar-links">/ Logout</a>
                    </div>
                </div>
                <div class="search-bar">
                    <form action="" method="GET">
                        <input type="search">
                        <input type="submit" name="Search">
                    </form>
                </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="content">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        Created by Josh Pent @ Luke Tyson
    </footer>
</body>

</html>