{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slack OverFlow</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="navbar">
        <nav>
            <div class="navbar-container">
                <div class="nav-left">
                    <a href="/">
                        <h1>Slack Overflow</h1>
                    </a>
                </div>
                {% if user.is_authenticated %}
                <div class="nav-right">
                    <div class="nav-link-container">
                        <a href="/forum">Assemble Generally</a>
                    </div>
                    <div class="nav-link-container">
                        <a href="/class-forum">Classroom</a>
                    </div>
                    <div class="nav-link-container">
                        <a href="/boards">Boards</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="content">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        Created by Josh Pent @ Luke Tyson
    </footer>
</body>

</html>