{% extends 'base.html' %}
{% block content %}

<div class="page-top">
    <h1>{{ board.board_name }}</h1>
</div>
<div class="page-content">
    <ul>
        {% for post in posts %}
            {% if post.board.id == board.id %}
                <a href="/posts/{{ post.id }}">
                    <li>
                        <p>{{ post.title }}</p>
                    </li>
                </a>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="delete-board">
        <a href="{% url 'board_delete' board.id %}">Delete</a>
    </div>
</div>

{% endblock %}