{% extends 'base.html' %}
{% block content %}

<div class="board-container">
    <div class="board">
        <h1 class="board-card-title board-card-text">m y / B o a r d s </h1>
        <hr>
        {% for board in boards %}
        <div class="board-card">
            <div class="board_title">
                <a href="/boards/{{board.id}}">
                    <h1 class="board-card-text">{{board.board_name}}</h1>
                </a>
            </div>
            <ul>
                {% if board.post_set.count >= 1 %}
                {% for post in posts %}
                {% if post.board.id == board.id %}
                <li>
                    <a href="/posts/{{post.id}}">
                        <p class="board-card-text">{{ post.title }}</p>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% else %}
                <p class="board-card-text">This forum doesn't have any posts yet</p>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}