{% extends 'base.html' %}
{% block content %}

<div class="page-top">
    <h1>My Boards</h1>
    <div class="search-bar">
        <form action="" method="GET">
            <input type="search">
            <input type="submit" name="Search">
        </form>
    </div>
</div>
<div class="page-content">
    {% for board in boards %}
    <div class="board">
        <a href="/boards/{{board.id}}">
            <h1>{{board.board_name}}</h1>
        </a>
        <div class="board-card">
            {% for post in posts %}
                {% if post.board.id == board.id %}
                    <p>{{ post.text }}</p>
                {% endif %}
            {% endfor %}
            <p>these are the posts</p>
        </div>
        </div>
    {% endfor %}
</div>

{% endblock %}