body {
    background-color: #E3E4DB;
    position: relative;
    min-height: 100vh;
    /* overflow-y: hidden; */
    display: block;
    margin: 0;
}

.navbar-container {
    display: flex;
    height: 10vh;
    max-height: 50px;
    width: 100vw;
    background-image: linear-gradient(#aa562b, #C44900);
    box-shadow: 10px 10px 15px -15px;
}

.nav-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-left {
    display: flex;
    align-items: center;
    width: 30%;
    /* flex-wrap: wrap; */
    align-content: center;
}

.search-bar {
    width: 20%;
    display: flex;
    align-items: center;
}

.nav-link-container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.nav-link-container>a:text footer {
    font-family: 'Righteous';
    position: sticky;
    top: 100%;
    width: 100%;
    height: 5vh;
    max-height: 30px;
    color: white;
    display: flex;
    background-image: linear-gradient(#aa562b, #C44900);
}

/* code in this section was drawn from a style doc written by Noah Raskin and slightly retooled to fit our design. this code animates an underline for links in the navbar. thanks, Noah! */
/* https://codepen.io/noahraskin/pen/abENVwL */
/* ------------- */
.navbar-links {
    font-family: 'Righteous';
    --s: 0.1em;
    /* the thickness of the line */
    --c: white;
    /* the color */

    color: white;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.navbar-links:link {
    text-decoration: none;
}

/* ------------- */

.navbar-links:hover {
    --_p: 100%
}

#brand-name {
    font-family: 'Righteous';
    color: white;
    font-size: 2em;
    position: relative;
    margin-left: 25px;
    white-space: nowrap;
}

#brand-name-star {
    font-size: 2rem;
    color: #F9f1cc;
    text-shadow: 4.5px 4.5px 0px #FFB650;
}

#brand-name-link:link {
    text-decoration: none;
}



/* Start board page css */
.page-top {
    display: flex;
    justify-content: center;
}

.page-content {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.left-content {
    width: 45vw;
    height: 70vh;
    border: 1px solid black;
}

.right-content {
    height: 70vh;
    width: 45vw;
    border: 1px solid black;
}

.board-card {
    font-size: 2rem;
}

/* end board page css */

/* login page css */
.card-container {
    height: 85vh;
    width: 100vw;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.card {
    font-family: 'Yantramanav', sans-serif;
    height: 60%;
    width: 20%;
    min-width: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-image: linear-gradient(#aa562b, #C44900); */
    background-image: linear-gradient(#C44900, #ddaa8a);
}

.btn {
    font-family: 'Yantramanav', sans-serif;
    width: 10em;
    height: 3em;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form>p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form>p>label {
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 0px #f39209;
}

.login-form>p>input {
    background: #fff;
    padding: 2.5%;
    border-radius: 5px;
    width: 100%;
}

#login-buttons {
    /* background-color: black; */
    width: 100%;
}

#login-buttons>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card>form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-buttons>div>a>button {
    width: 5em;
    border-radius: 5px;
}

.card-title {
    font-size: 2.5em;
    color: white;
    text-align: center;
    text-shadow: 2.5px 2.5px 0px #FFB650;
    /* background-image: linear-gradient(#f2d362, #C44900); */
    background-color: transparent;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: flex-start;
}

/* End login page css */

/*Start post page css*/
/*Start forum index css*/
.board {
    min-width: 40vw;
    min-height: 80vh;
    border: 1px solid black;
}

.board_title {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

/*Stop forum index css*/


/* Start User Profile CSS */
.profile-pic {
    height: 30%;
    width: 40%;
}

.profile-pic>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: space-between;
}

.card-buttons>a>button {
    /* background-color: #E3E4DB; */
    background-image: linear-gradient(#f1bd02, #ffffff);
    color: #232323;
    font-family: 'Yantramanav', sans-serif;
    box-shadow: 10px 10px 15px -9px;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #ddaa8a;
    border-radius: 5px;
    margin: 2%;
}

.card-buttons>a>button:hover {
    border-color: #fff;
    border-width: 1px 2px 1px 2px;
}

#user-update-cards {
    display: flex;
}

#user-update-cards>div>div {
    width: 35vw;
}

/* End User Profile CSS */