{% extends 'base.html' %}
{% block content %}

<h1>Please fill out all spaces</h1>
<form action="{% url 'user_update' user.id %}" method="POST">
    {% csrf_token %}
    <label>Username<input type="text" name="username" id="username" value="{{ user.username }}"></label>
    <label>Email<input type="text" name="email" id="email" value="{{ user.email }}"></label>
    <input type="submit" value="Submit!">
</form>
<form action="{% url 'profile_update' profile.id %}" method="POST">
    {% csrf_token %}
    <label>Profile Picture<input type="text" name="profile_pic" value="{{ profile.profile_pic }}"></label>
    <input type="submit" value="Submit!">
</form>

<h1>{{ profile.id }}</h1>
<h1>{{ user.id }}</h1>

{% endblock %}