{% extends 'base.html' %}
{% block content%}
<div class="card-container">
    <div class="card">
        <h1 id="card-title">Hello, {{ user.username }}</h1>
        <div id="profile-pic">
            <img src="{{ user.profile.profile_pic }}" alt="">
        </div>
        <div id="card-buttons">
            <a href="{% url 'user_edit' user.id %}"><button type="button">Edit account</button></a>
            <br>
            <a href="{% url 'users_delete' user.id %}"><button type="button">Delete account</button></a>
            <br>
            <a href="{% url 'password_change' %}"><button type="button">Change Password</button></a>
        </div>
    </div>
</div>

{% endblock %}